@model DomainModel.Classroom

<h1>--- Classe ---</h1>

<dl>
    <dt>ID de la classe : </dt>
    <dd>@Model.ClassroomID</dd>

    <dt>Nom : </dt>
    <dd>@Model.Name</dd>

    <dt>Etage : </dt>
    <dd>@Model.Floor</dd>

    <dt>Couloir : </dt>
    <dd>@Model.Corridor</dd>
</dl>
